<div class="gbr-input mb-3">
  <label for="{{ name }}" class="form-label bg-white text-secondary">
    {{ label }}
    <span *ngIf="required" class="text-danger">*</span>
  </label>
  <input
    *ngIf="['passwordCreate', 'emailCreate'].includes(name)"
    [required]="required"
    [value]="value"
    type="{{ type }}"
    class="form-control"
    id="{{ name }}"
    placeholder="{{ placeholder }}"
  />

  <fa-icon
    class="text-secondary password-icon"
    *ngIf="type === 'password' || eyeIcon"
    [icon]="eyeIcon ? faEye : faEyeSlash"
    (click)="handleClickOnEye()"
  ></fa-icon>
</div>
